@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.text-grey {
    color: rgb(37, 37, 37);
  }
  
  
  body  {
      background-image: url(./images/wallpaper.webp);
      background-repeat: no-repeat;
      background-size: cover;
          -webkit-animation: slidein 100s;
          animation: slidein 100s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate;              
  }
  
  @-webkit-keyframes slidein {
    from {background-position: top; background-size:175%; }
    to {background-position: 0px 0px; background-size: 100%;}
  }
  
  @keyframes slidein {
    from {background-position: top; background-size:175%; }
    to {background-position: 0px 0px; background-size: 125%;}
  }
  
  
  


