.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  width: 300px; /* Adjust the width as needed */
  height: 285px; /* Adjust the height as needed */
  border-radius: 10px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.4); /* Slightly transparent white */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden; /* Ensure content does not overflow */
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}

.card-body {
  padding: 20px;
}

.card-body p {
  margin: 0;
  font-size: 16px;
}
