.hourly-temperature-table {
    /*background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .hourly-temperature-table table {
    width: 100%;
  }
  
  .hourly-temperature-table td {
    text-align: center;
    padding: 10px;
  }
  
  .hourly-temperature-table .hour {
    font-weight: bold;
  }
  
  .hourly-temperature-table .temperature {
    font-size: 14px;
  }
  